package global

import "github.com/AlyxPink/meower/internal/pkg/web/routes"

templ Navigation() {
	<nav>
		<ul class="flex flex-inline space-x-6">
			<li><a class="underline" href={ routes.MeowNew }>Create new Meow</a></li>
			<li><a class="underline" href={ routes.MeowIndex }>List Meows</a></li>
		</ul>
	</nav>
}
