package global

templ Navigation() {
	<nav>
		<ul class="flex flex-inline space-x-6">
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
		</ul>
	</nav>
}
