package global

templ Navigation() {
	<nav>
		<ul class="flex flex-inline space-x-6">
			<li><a class="underline" href="/meow/">Create new Meow</a></li>
			<li><a class="underline" href="/meows/">List Meows</a></li>
		</ul>
	</nav>
}
