package ui

import "github.com/AlyxPink/meower/internal/pkg/web/ui/layouts"
import "github.com/AlyxPink/meower/internal/pkg/web/routes"

templ New() {
	@layouts.Main() {
		<form action={ routes.MeowCreate } method="post">
			<input type="text" name="name" placeholder="Enter your name :3" class="border border-1 border-black"/>
			<button type="submit">Meow!</button>
		</form>
	}
}
