package global

import (
	"github.com/AlyxPink/meower/web/constants"
	"github.com/gofiber/fiber/v2"
)

templ Navigation(c *fiber.Ctx) {
	<nav>
		<ul class="flex flex-inline space-x-6">
			<li><a class="underline" href={ templ.SafeURL(c.App().GetRoute(constants.Routes.MeowNew.Name).Path) }>Create new Meow</a></li>
			<li><a class="underline" href={ templ.SafeURL(c.App().GetRoute(constants.Routes.IndexMeow.Name).Path) }>List Meows</a></li>
		</ul>
	</nav>
}
