package ui

import (
	meowerv1 "github.com/AlyxPink/meower/internal/pkg/api/meower/v1"
	"github.com/AlyxPink/meower/web/ui/layouts"
)

templ Create(r *meowerv1.CreateResponse) {
	@layouts.Main() {
		<h1>Meow Created</h1>
		<ul>
			<li class="py-2">
				<span class="font-mono rounded bg-pink-200 p-2">#{ r.Meow.Id } { `@` } { r.Meow.CreatedAt }</span>
				<span class="font-bold">Meow { r.Meow.Name } :3</span>
			</li>
		</ul>
		<a class="underline" href="/meows">See all Meows</a>
	}
}
